<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Me</title>
</head>
<body>

    <!-- Website header -->
    <h1>About Me</h1>

    <p>I am a student at <strong>College Park</strong>. I am currently a <strong> senior,</strong>  I will soon be looking for jobs.</p>
    <p>After college, I plan on pursuing a career in <em> data science. </em> I will do this by completing projects in <em>python</em>.</p>

    <!-- Unordered and ordered lists are below  -->

    <h2>My Interests</h2>
    <ul>
        <li>Data Science</li>
        <li>Data Analytics</li>
        <li>Machine Learning</li>

    </ul>

    <ol>
        <li>Deep Learning</li>
        <li>Generative AI</li>
        <li>Python Programming</li>
    </ol>

    <h2>Previous Coursework</h2>
    <table>
        <tr>
            <th>Course</th>
            <th>Semester Taken</th>
        </tr>

        <tr>
            <td>BMGT 404</td>
            <td>Spring 2024</td>
        </tr>

        <tr>
            <td>BMGT 407</td>
            <td>Spring 2024</td>
        </tr>

        <tr>
            <td>BMGT 403</td>
            <td>Fall 2023</td>
        </tr>

    </table>

    <p>A link to my <a href="/hello"> hello route</a></p>

    <!-- Link to favorite websites -->
    <p>A link to <a href="https://www.tesla.com/" target="_blank"> Tesla</a> </p>

    <p>A link to <a href="https://www.polestar.com/us/"> Polestar</a></p>

    <img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png" width="267" height="72">

</body>
</html>