<!-- Created a training html page only accessible to the manager and admin roles -->
{% extends "base.html" %}

{% block page_title %}
    Training
{% endblock %}

{% block page_head %}
    Training
{% endblock %}

<!-- Added a paragraph about training for the TerpSys System with my name and email for contact purposes -->
{% block page_content %}
    <p>Welcome to your training for the TerpSys Student Information System. Training materials are currently under construction, but will be created very soon. Please check back soon or email Siddharth Dudla at <a href="mailto: sdudla@terpmail.umd.edu"> sdudla@terpmail.umd.edu</a> if you wish to be placed on the waiting list.</p>
{% endblock %}